@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");

$font-color: #000;
$red: #ce2737;
$hightlight-color: #750c0c;
$box-shadow: rgb(160, 144, 144);
$transition-length: 0.2s;
$alt-red: #c48b8b;
$font-family: "Oswald", sans-serif;

body {
  font-family: $font-family;
}

/*
=========================
Search Bar Styles
=========================
*/

.search-bar-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 400px;

  input[type="text"].search-input {
    border-radius: 5px;
    line-height: 30px;
    width: 280px;
    min-width: 100px;
    flex: 3 1 280px;

    @media only screen and (max-width: 768px) {
      /* if mobile, make the width smaller to fit the button */
      width: 200px;
    }
  }

  .search-btn {
    flex: 1 1 auto;
    height: 35px;
    border: transparent;
    text-transform: uppercase;
    background-color: $red;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    width: auto;
    transition: background-color $transition-length;
    &:hover {
      background-color: #750c0c;
    }
  }
  .search-btn:disabled {
    background-color: $alt-red;
  }
}

/*
=========================
Warning Styles
=========================
*/
.warning-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  background-color: $alt-red;
  box-shadow: 2px 2px 2px white;
  border-radius: 7px;
  margin-top: 10px;
  span {
    color: #fff;
    padding: 5px 0;
    font-size: 12px;
  }
}

/*
=========================
Loader Styles
=========================
*/

.loader-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader-wrapper {
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: center;
    align-items: center;

    .dot {
      background-color: $red;
      margin: 0 2.5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      animation: shrink 1s ease-in-out infinite;
      &:nth-of-type(2) {
        animation-delay: 0.1s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.2s;
      }
    }
  }

  @keyframes shrink {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
}

/*
=========================
Paginate Button Styles
=========================
*/

.paginate-btns {
  button.left,
  button.right {
    background-color: $red;
    margin: 0 2px;
    padding: 5px 15px;
    color: #fff;
    border-radius: 15px;
    border: 1px transparent;
    transition: background-color 0.2s;
    &:hover {
      background-color: $hightlight-color;
    }
  }
  button.left:disabled,
  button.right:disabled {
    background-color: $alt-red;
  }
}

/*
=========================
Recipe Styles
=========================
*/

.recipe-grid {
  .recipe-item {
    border: 1px solid $font-color;
    box-shadow: 2px 2px 2px $box-shadow;

    @media only screen and (max-width: 768px) {
      /* if mobile, make the width smaller to fit the button */
      max-width: 300px;
    }

    .img-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      img {
        width: 75%;
        margin: 10px 0;
      }
    }

    .link-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      a {
        color: $red;
        font-size: 1.5rem;
        text-align: center;
        width: 75%;
        transition: color $transition-length;
        margin-bottom: 0.5rem;
        &:hover {
          color: $hightlight-color;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

    // a.label {
    //   color: $red;
    //   display: flex;
    //   font-size: 1.5rem;
    //   align-items: center;
    //   justify-content: center;
    //   transition: color $transition-length;
    //   margin-bottom: 0.5rem;
    //   &:hover {
    //     color: $hightlight-color;
    //     cursor: pointer;
    //     text-decoration: none;
    //   }
    // }

    p.servings {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .details {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .btn-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      button.seeMore {
        border: transparent;
        text-transform: uppercase;
        background-color: $red;
        color: #fff;
        border-radius: 5px;
        padding: 5px 5px;
        margin: 0 0 10px 0;
        width: 50%;
        transition: background-color $transition-length;
        &:hover {
          background-color: #750c0c;
        }
      }
    }
  }
}

/*
=========================
Modal Styles
=========================
*/

.modal-body-grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 3fr;
  background-color: #fff;

  .ingredients,
  .instructions {
    p.header {
      color: $red;
      font-size: 1.5rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      li {
        list-style: decimal outside;
        color: #000;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .recipe-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 768px) {
  /* For larger displays: */
  .recipe-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
  }
}
