@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
body {
  font-family: "Oswald", sans-serif; }

/*
=========================
Search Bar Styles
=========================
*/
.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 400px; }
  @media only screen and (max-width: 768px) {
    .search-bar-wrapper {
      /* if mobile, you want to wrap the button to the next line */
      flex-wrap: wrap;
      justify-content: flex-start; } }
  .search-bar-wrapper input[type="text"].search-input {
    border-radius: 5px;
    line-height: 30px;
    width: 300px;
    min-width: 100px;
    flex: 3 1 300px; }
    @media only screen and (max-width: 768px) {
      .search-bar-wrapper input[type="text"].search-input {
        /* if mobile, make the width smaller to fit the button */
        width: 100%;
        flex: none; } }
  .search-bar-wrapper .search-btn {
    flex: 0 1 70px;
    height: 35px;
    border: transparent;
    text-transform: uppercase;
    background-color: #ce2737;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    width: auto;
    transition: background-color 0.2s; }
    @media only screen and (max-width: 768px) {
      .search-bar-wrapper .search-btn {
        /* if mobile, no extra margin is required */
        margin-left: 0;
        margin-top: 10px; } }
    .search-bar-wrapper .search-btn:hover {
      background-color: #750c0c; }
  .search-bar-wrapper .search-btn:disabled {
    background-color: #c48b8b; }

/*
=========================
Warning Styles
=========================
*/
.warning-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  background-color: #c48b8b;
  box-shadow: 2px 2px 2px white;
  border-radius: 7px;
  margin-top: 10px; }
  .warning-wrapper span {
    color: #fff;
    padding: 5px 0;
    font-size: 12px; }

/*
=========================
Loader Styles
=========================
*/
.loader-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader-container .loader-wrapper {
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: center;
    align-items: center; }
    .loader-container .loader-wrapper .dot {
      background-color: #ce2737;
      margin: 0 2.5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      animation: shrink 1s ease-in-out infinite; }
      .loader-container .loader-wrapper .dot:nth-of-type(2) {
        animation-delay: 0.1s; }
      .loader-container .loader-wrapper .dot:nth-of-type(3) {
        animation-delay: 0.2s; }

@keyframes shrink {
  0%,
  100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }

/*
=========================
Paginate Button Styles
=========================
*/
.paginate-btns button.left,
.paginate-btns button.right {
  background-color: #ce2737;
  margin: 0 2px;
  padding: 5px 15px;
  color: #fff;
  border-radius: 15px;
  border: 1px transparent;
  transition: background-color 0.2s; }
  .paginate-btns button.left:hover,
  .paginate-btns button.right:hover {
    background-color: #750c0c; }

.paginate-btns button.left:disabled,
.paginate-btns button.right:disabled {
  background-color: #c48b8b; }

/*
=========================
Recipe Styles
=========================
*/
.recipe-grid .recipe-item {
  border: 1px solid #000;
  box-shadow: 2px 2px 2px #a09090; }
  @media only screen and (max-width: 768px) {
    .recipe-grid .recipe-item {
      /* if mobile, make the width smaller to fit the button */
      max-width: 300px; } }
  .recipe-grid .recipe-item .img-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .recipe-grid .recipe-item .img-wrapper a {
      display: inherit;
      width: inherit;
      justify-content: inherit;
      align-items: inherit; }
      .recipe-grid .recipe-item .img-wrapper a img {
        width: 75%;
        margin: 10px 0; }
  .recipe-grid .recipe-item .link-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .recipe-grid .recipe-item .link-wrapper a {
      color: #ce2737;
      font-size: 1.5rem;
      text-align: center;
      width: 75%;
      transition: color 0.2s;
      margin-bottom: 0.5rem; }
      .recipe-grid .recipe-item .link-wrapper a:hover {
        color: #750c0c;
        cursor: pointer;
        text-decoration: none; }
  .recipe-grid .recipe-item p.servings {
    display: flex;
    align-items: center;
    justify-content: center; }
  .recipe-grid .recipe-item .details {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .recipe-grid .recipe-item .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .recipe-grid .recipe-item .btn-wrap button.seeMore {
      border: transparent;
      text-transform: uppercase;
      background-color: #ce2737;
      color: #fff;
      border-radius: 5px;
      padding: 5px 5px;
      margin: 0 0 10px 0;
      width: 50%;
      transition: background-color 0.2s; }
      .recipe-grid .recipe-item .btn-wrap button.seeMore:hover {
        background-color: #750c0c; }

/*
=========================
Modal Styles
=========================
*/
h5.modal-title a {
  color: #ce2737;
  font-size: 1.5rem;
  text-align: center;
  width: 75%;
  transition: color 0.2s;
  margin-bottom: 0.5rem; }
  h5.modal-title a:hover {
    color: #750c0c;
    cursor: pointer;
    text-decoration: none; }

.modal-body-grid {
  width: 100%;
  height: auto;
  background-color: #fff; }
  .modal-body-grid .top-grid {
    display: flex;
    height: auto; }
    .modal-body-grid .top-grid .left {
      flex: 1 1 33.3%;
      display: grid;
      grid-template-columns: 1fr; }
    .modal-body-grid .top-grid .right {
      flex: 1 1 66.6%;
      display: grid;
      grid-template-columns: 1fr; }
  .modal-body-grid .ingredients p.header {
    color: #ce2737;
    font-size: 1.5rem; }
  .modal-body-grid .ingredients ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .modal-body-grid .ingredients ul li {
      flex: 1 1 100%;
      list-style: square; }

/*
* Scroll to top button styles
*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ce2737;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px; }

#myBtn:hover {
  background-color: #555; }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .recipe-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 20px; } }

@media only screen and (min-width: 768px) {
  /* For larger displays: */
  .recipe-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px; } }
