
.recipe-grid {
    .recipe-item {
        border: 1px solid #000;
        box-shadow: 2px 2px 2px #eee;
    }
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
        .recipe-grid {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr;
            justify-items: center;
            margin-top: 20px;
        }
    }
    @media only screen and (min-width: 768px) {
        /* For mobile phones: */
        .recipe-grid {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;
        }
  }